{% extends 'elements/header.html' %}
{% include 'elements/style.html' %}
{% load i18n allauth account %}
{% block lc %}
<title>Востановления пароля</title>
<div class="inside">
        <h1>Востановления пароля</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            {% trans "Забыли пароль? Напишите свою почту на которую вам придет письмо для востановления пароля!" %}
        </p>
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="form-input" >
                    {% element fields form=form %}
                     {{ form.form }}
                    {% endelement %}
                </div>
                <button class="btn btn-primary btn-lg" type="submit">{% trans "Восстановить" %}</button>
            </form>
    </div>
{% endblock %}
