{% extends 'elements/header.html' %}
{% include 'elements/style.html' %}
{% load i18n %}
{% load allauth %}
{% block lc %}
<title>Восстановление пароля</title>
<div class="reset-password">
            {% element h1 %}
            {% if token_fail %}
                {% trans "Ссылка не активна" %}
            {% else %}
                {% trans "Изменение пароля" %}
            {% endif %}
        {% endelement %}
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                {% blocktrans %}Ссылка для изменения пароля истекла либо уже была использована. Вы можете запросить новую ссылку для создания<a href="{{ passwd_reset_url }}"> нового пароля</a>.{% endblocktrans %}
            </p>
        {% else %}
            {% element form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                <form method="post" action="{% url 'account_reset_password' %}">
                    <div class="form-input" >
                        <label for="id_password1">Новый пароль:</label>
                        <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1">
                    </div>

                    <div class="form-input" >
                        <label for="id_password2">Повторите пароль:</label>
                        <input type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2">
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">{% trans "Восстановить" %}</button>
                </form>
                {% endslot %}
                {% slot actions %}

                {% endslot %}
            {% endelement %}
        {% endif %}
</div>
{% endblock %}
