<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="container">
        <p>{{ subject.user }} - Указал в своем отклике:</p>
        <h3>{{ subject.title }} - Категория: {{ subject.category }}</h3>
        <p>{{ subject.text }}<br></p>
        <a href="{{ subject.url }}">Посмотреть объявление</a>
    </div>
</body>
</html>