.all{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.img-title, .text-image {
    display: flex;
    gap: 10px;
    justify-content: space-between;
        img{
        width: 50%;
        height: 250px;
        object-fit: cover;
    }
}

.img-title__text, .text-image p {
    margin: 6px;
}

.btn-edit {
    display: flex;
    justify-content: space-evenly;
}